#section_more_news {
  background-color: #fff;
  padding-inline-start: 4.5rem;
  padding-inline-end: 4.5rem;
  padding-block-end: 4.5rem;
}
@media (min-width: 768px) {
#section_more_news {
display:grid;
column-gap: 3rem;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: "header header"
                     "first-longform second-longform"
                     "first-longform second-longform"
                     "first-longform second-longform"
}
#section_more_news > header {
grid-area: header;
}
#section_more_news > .article_longform:first-of-type {
grid-area: first-longform;
}
#section_more_news > .article_longform:last-of-type {
grid-area: second-longform;
}
}*/

#section_more_news > header {
  padding-block-end: 2.5rem;
  border-bottom: 2px solid #EBEDED;
  margin-block-end: 2.5rem;
}

#section_more_news .article_title {
  margin-block-start: 0;
  margin-block-end: -0.625rem;
}

#section_more_news article p {
  color: #A6ADB4;
}

#section_more_news .category {
  margin-block-start: 0;
  margin-block-end: 1.25rem;
}

#section_more_news .category a {
  color: #FA6980;
}
.article_longform {
  display: grid;
  grid-template-columns: ;
}
@media (min-width:1040px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "featured more-new"
                         "trending trending"
                         "happening happening";
  }
  #section_featured {
    display: flex;
    grid-area: featured;
  }
  #section_more_news {
    display: block;
    grid-area: more-new;
  }
  #section_trending {
    grid-area: trending;
    columns: 3;
  }
  #section_happening_now {
    grid-area: happening;
    columns: 2;
  }
  }

